Repository lair-click-bats/spreadsheet-dl: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-syntax, validate-jsonc

validate-yaml-syntax:
  name: Validate YAML syntax
  entry: uv run python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
  language: system

validate-jsonc:
  name: Validate JSON/JSONC files
  entry: ./scripts/tools/jsonc.sh --check
  language: script

docs(security): comprehensive rewrite with all critical vulnerabilities
  SECURITY.md
Due: none

docs(readme): update to reflect 317 formulas across 11 domains
  README.md
Due: none

docs(readme): remove hardcoded counts for maintainability (SSOT)
  README.md
Due: none

feat(security): implement comprehensive security hardening (v4.0.1)
  .claude/hooks/archive_old_checkpoints.py
  .claude/hooks/check_report_proliferation.py
  .claude/hooks/check_stop.py
  .claude/hooks/check_subagent_stop.py
  .claude/hooks/cleanup_stale_agents.py
  .claude/hooks/cleanup_stale_files.py
  .claude/hooks/generate_settings.py
  .claude/hooks/lint_todos.py
  .claude/hooks/manage_agent_registry.py
  .claude/hooks/validate_config_consistency.py
  .claude/hooks/validate_file_locations.py
  .claude/hooks/validate_ssot.py
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/security.yml
  scripts/maintenance/batch_file_processor.py
  scripts/maintenance/context_optimizer.py
  scripts/maintenance/json_summarizer.py
  src/spreadsheet_dl/_builder/exceptions.py
  src/spreadsheet_dl/_builder/formulas.py
  src/spreadsheet_dl/domains/electrical_engineering/__init__.py
  src/spreadsheet_dl/domains/electrical_engineering/formulas/__init__.py
  src/spreadsheet_dl/domains/environmental/__init__.py
  src/spreadsheet_dl/domains/environmental/formulas/climate.py
  src/spreadsheet_dl/path_security.py
  src/spreadsheet_dl/streaming.py
  tests/domains/environmental/test_renewable.py
Due: validate-yaml-syntax

docs: optimize README for SSOT compliance and science/engineering focus
  README.md
Due: none

feat(security): v4.0.1 - Complete security hardening with comprehensive test suite
  CHANGELOG.md
  README.md
  SECURITY.md
  examples/01_basics/02_create_custom_budget.py
  examples/02_formulas/01_analyze_budget.py
  examples/02_formulas/02_generate_reports.py
  examples/02_formulas/04_realistic_workflow.py
  examples/04_advanced/03_mcp_server_usage.py
  examples/analyze_budget.py
  examples/create_budget.py
  examples/generate_report.py
  examples/mcp_server_usage.py
  examples/realistic_budget_workflow.py
  pyproject.toml
  scripts/setup-claude-config.sh
  src/spreadsheet_dl/security.py
  tests/README.md
  tests/benchmarks/test_formula_parsing_benchmark.py
  tests/benchmarks/test_mcp_dispatch_benchmark.py
  tests/benchmarks/test_rendering_benchmark.py
  tests/benchmarks/test_theme_loading_benchmark.py
  tests/cli/test_commands_coverage.py
  tests/security/__init__.py
  tests/security/test_formula_sanitization.py
  tests/security/test_password_strength.py
  tests/security/test_path_security.py
  tests/security/test_zip_bomb_detection.py
  tests/test_cli_commands_core.py
  tests/test_cli_commands_data_mgmt.py
  tests/test_conditional_formatting.py
  uv.lock
Due: none

docs: update installation instructions for PyPI release
  README.md
  docs/getting-started.md
  docs/tutorials/01-create-budget.md
Due: none

refactor(scripts): rename scripts from hyphens to underscores
  scripts/prepare_public_release.sh
  scripts/setup_claude_config.sh
  scripts/test-stats.sh
  scripts/test_stats.sh
Due: none

chore(scripts): remove vestigial and redundant scripts
  scripts/cleanup-for-release.sh
  scripts/cleanup.sh
  scripts/format_markdown.sh
Due: none

refactor(examples): consolidate examples into organized structure
  examples/analyze_budget.py
  examples/chart_builder_advanced.py
  examples/chart_colors_demo.py
  examples/create_budget.py
  examples/demo_progress.py
  examples/example_budget.py
  examples/example_chart.py
  examples/example_import.py
  examples/example_mcp.py
  examples/example_plugin.py
  examples/example_report.py
  examples/generate_report.py
  examples/mcp_server_usage.py
  examples/realistic_budget_workflow.py
  examples/sparklines_demo.py
  examples/template_engine_usage.py
Due: none

docs: remove duplicate and vestigial documentation files
  docs/BRANDING.md
  docs/testing-markers.md
  notes.md
  templates/.gitkeep
Due: none

build: remove irrelevant toolchain references from configuration
  .editorconfig
  .gitattributes
  .gitignore
  .lycheeignore
  .markdownlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .shellcheckrc
  .vscode/settings.json
  .yamllint.yaml
  cspell.json
  pyproject.toml
  uv.lock
Due: validate-yaml-syntax, validate-jsonc

docs(claude): update references to renamed scripts
  .claude/README.md
  .claude/agents/git_commit_manager.md
  .claude/agents/spec_implementer.md
  .claude/agents/spec_validator.md
  .claude/commands/swarm.md
  .claude/hooks/auto_format.py
  .claude/hooks/quality_enforce_strict.py
  .claude/paths.yaml
  .claude/settings.json
  .claude/templates/docstring.md
  contrib/claude-config/README.md
Due: validate-yaml-syntax, validate-jsonc

docs: update references to renamed scripts and cleanup
  BRANDING.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  TESTING.md
  docs/ARCHITECTURE.md
  docs/MCP_INTEGRATION.md
  docs/api/SUMMARY.md
  docs/api/accounts.md
  docs/api/bank_formats.md
  docs/api/categories.md
  docs/api/currency.md
  docs/api/domain-plugins.md
  docs/api/ods_generator.md
  docs/api/plaid_integration.md
  docs/api/template_engine.md
  docs/architecture/index.md
  docs/architecture/modular-structure.md
  docs/cli.md
  docs/design/index.md
  docs/design/plugin-signature-verification.md
  docs/error-codes.md
  docs/examples/gallery.md
  docs/examples/index.md
  docs/getting-started.md
  docs/guides/plugin-development.md
  docs/guides/style-composition.md
  docs/guides/troubleshooting.md
  docs/index.md
  docs/installation.md
  docs/plugins.md
  docs/reference/examples-index.md
  docs/reference/formula-reference.md
  docs/reference/mcp-tools-reference.md
  docs/tutorials/01-create-budget.md
  docs/tutorials/06-customize-themes.md
  docs/tutorials/07-html-import.md
  docs/tutorials/09-sparklines.md
Due: none

docs(examples): reorganize and enhance example structure
  examples/01_basics/05_demo_progress.py
  examples/01_basics/README.md
  examples/03_charts/04_sparklines.py
  examples/04_advanced/01_plugin_system.py
  examples/04_advanced/03_mcp_server_usage.py
  examples/05_domain_plugins/01_finance_domain.py
  examples/05_domain_plugins/README.md
  examples/06_security_and_export/01_xlsx_export.py
  examples/06_security_and_export/02_security_demo.py
  examples/06_security_and_export/README.md
  examples/run_all_examples.py
  examples/template_engine/README.md
Due: none

fix: resolve CI/CD pipeline failures
  PUBLISHING.md
  docs/index.md
  pyproject.toml
Due: none

fix: remove config reference from all extras group
  pyproject.toml
Due: none

fix: resolve mypy type check errors in CI
  pyproject.toml
  src/spreadsheet_dl/serialization.py
  src/spreadsheet_dl/webdav_upload.py
  uv.lock
Due: none

fix: install all extras in CI test workflow
  .github/workflows/ci.yml
Due: validate-yaml-syntax

Path conditions:
  validate-yaml-syntax: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
  validate-jsonc: any of: \.json$
