Repository lair-click-bats/spreadsheet-dl: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-syntax, validate-jsonc

.pre-commit-config.yaml:

# Pre-commit configuration for SpreadsheetDL
# Install: pre-commit install
# Run manually: pre-commit run --all-files
# https://pre-commit.com

repos:
  # ==========================================================================
  # General file checks
  # ==========================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe] # Allow custom YAML tags
      - id: check-json
        # Exclude JSONC files (VS Code uses JSON with comments)
        # Our jsonc.sh handles these with proper comment stripping
        exclude: ^(\.vscode/|tsconfig\.json|jsconfig\.json)
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md] # Preserve markdown line breaks
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: mixed-line-ending
        args: [--fix=lf]

    # ==========================================================================
    # Python: Ruff (linting + formatting)
    # ==========================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

    # ==========================================================================
    # Shell scripts: ShellCheck
    # ==========================================================================
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [--severity=warning]

    # ==========================================================================
    # YAML: yamllint
    # ==========================================================================
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
        exclude: ^(\.pre-commit-config\.yaml|uv\.lock)$

    # ==========================================================================
    # Markdown: markdownlint
    # ==========================================================================
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        exclude: ^\.vscode/

    # ==========================================================================
    # Local hooks: JSONC validation
    # ==========================================================================
  - repo: local
    hooks:
      - id: validate-yaml-syntax
        name: Validate YAML syntax
        entry: uv run python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
        language: system
        types: [yaml]
        exclude: ^\.pre-commit-config\.yaml$

      - id: validate-jsonc
        name: Validate JSON/JSONC files
        entry: ./scripts/tools/jsonc.sh --check
        language: script
        types: [json]
        # Include all JSON files - jsonc.sh handles JSONC files automatically

  # ==========================================================================
  # CI configuration
  # ==========================================================================
ci:
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autoupdate_schedule: monthly
  skip: []
  submodules: false

refactor(mcp)!: extract MCP server into modular _mcp package
  src/spreadsheet_dl/_mcp/__init__.py
  src/spreadsheet_dl/_mcp/cli.py
  src/spreadsheet_dl/_mcp/config.py
  src/spreadsheet_dl/_mcp/exceptions.py
  src/spreadsheet_dl/_mcp/handlers.py
  src/spreadsheet_dl/_mcp/models.py
  src/spreadsheet_dl/_mcp/registry.py
  src/spreadsheet_dl/_mcp/server.py
  src/spreadsheet_dl/_mcp/tools/__init__.py
  src/spreadsheet_dl/mcp_server.py
  tests/mcp/__init__.py
  tests/mcp/conftest.py
  tests/mcp/test_mcp_cli.py
  tests/mcp/test_mcp_core.py
  tests/mcp/test_mcp_finance.py
  tests/mcp/test_mcp_handler_utils.py
  tests/mcp/test_mcp_handlers.py
  tests/mcp/test_mcp_protocol.py
  tests/mcp/test_mcp_tools.py
  tests/test_mcp_tools_extended.py
Due: none

feat(charts): add series color customization support
  examples/chart_colors_demo.py
  examples/example_chart.py
  src/spreadsheet_dl/charts.py
  tests/test_charts.py
Due: none

feat(import): add HTML table import implementation
  docs/tutorials/07-html-import.md
  src/spreadsheet_dl/adapters.py
  tests/test_adapters.py
  tests/test_html_import.py
Due: none

feat(formatting): add conditional formatting with static evaluation
  docs/tutorials/08-conditional-formatting.md
  src/spreadsheet_dl/interactive.py
  tests/test_conditional_formatting.py
  tests/test_interactive.py
Due: none

feat(charts): add sparklines implementation
  docs/tutorials/09-sparklines.md
  examples/sparklines_demo.py
  src/spreadsheet_dl/renderer.py
  tests/renderer/__init__.py
  tests/renderer/conftest.py
  tests/renderer/test_renderer_charts.py
  tests/renderer/test_renderer_core.py
  tests/renderer/test_renderer_edge_cases.py
  tests/test_styles_comprehensive.py
Due: none

feat(finance): add production Plaid API integration
  src/spreadsheet_dl/domains/finance/__init__.py
  src/spreadsheet_dl/domains/finance/plaid_integration.py
  tests/domains/test_finance.py
  tests/test_plaid_integration.py
Due: none

perf: add performance benchmarks and optimizations
  src/spreadsheet_dl/performance.py
  tests/benchmarks/README.md
  tests/benchmarks/__init__.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_formula_parsing_benchmark.py
  tests/benchmarks/test_mcp_dispatch_benchmark.py
  tests/benchmarks/test_rendering_benchmark.py
  tests/benchmarks/test_theme_loading_benchmark.py
Due: none

docs: add comprehensive guides (cookbook, integration, performance)
  docs/architecture/modular-structure.md
  docs/guides/cookbook.md
  docs/guides/integration.md
  docs/guides/performance.md
Due: none

docs(api): update API documentation for v4.0.0 modular structure
  docs/API_DOCUMENTATION_STATUS.md
  docs/ARCHITECTURE.md
  docs/api/README.md
  docs/api/cli.md
  docs/api/exceptions.md
  docs/api/export.md
  docs/api/index.md
  docs/api/mcp_server.md
  docs/api/ods_editor.md
  docs/cli.md
  docs/index.md
  docs/user-guide.md
  docs/v4.0/GAP-ANALYSIS.md
Due: none

fix(types): resolve 37 production type errors across all modules
  examples/example_budget.py
  examples/example_mcp.py
  examples/example_report.py
  examples/generate_report.py
  examples/mcp_server_usage.py
  src/spreadsheet_dl/__init__.py
  src/spreadsheet_dl/ai_export.py
  src/spreadsheet_dl/ai_training.py
  src/spreadsheet_dl/backup.py
  src/spreadsheet_dl/config.py
  src/spreadsheet_dl/exceptions.py
  src/spreadsheet_dl/export.py
  src/spreadsheet_dl/ods_editor.py
  src/spreadsheet_dl/plugins.py
  src/spreadsheet_dl/security.py
Due: none

build: update dependencies and project configuration
  pyproject.toml
  uv.lock
Due: none

chore: update gitignore and coverage tracking
  .gitignore
  coverage.json
Due: validate-jsonc

chore(hooks): update quality enforcement hooks for v4.0.0
  .claude/hooks/IMPLEMENTATION_GUIDE.md
  .claude/hooks/orchestration-metrics.json
  .claude/hooks/python_quality_enforce.py
  .claude/hooks/python_type_check.py
  .claude/hooks/quality_enforce_strict.py
  .claude/hooks/test_quality_enforcement.py
Due: validate-jsonc

refactor(domains): update domain modules and reorganize tests
  src/spreadsheet_dl/domains/base.py
  src/spreadsheet_dl/domains/electrical_engineering/importers/component_csv.py
  src/spreadsheet_dl/domains/electrical_engineering/utils.py
  src/spreadsheet_dl/domains/manufacturing/templates/quality_control.py
  tests/integration/test_budget_workflow.py
  tests/test_builder.py
  tests/test_mcp_server.py
  tests/test_renderer.py
  tests/test_serialization.py
Due: none

build(config): disable Claude co-author attribution
  .claude/agents/git-commit-manager.md
  .claude/settings.json
Due: validate-jsonc

docs(security): add security policy for public release
  SECURITY.md
Due: none

docs(contributing): replace pre-release with semver commitment
  CONTRIBUTING.md
Due: none

chore(cleanup): remove development-only files for release
  docs/API_DOCUMENTATION_STATUS.md
  docs/v4.0/GAP-ANALYSIS.md
  scripts/add_pytest_markers.py
  scripts/fix_missing_pytest_imports.py
  scripts/git_reset_clean_all.sh
  scripts/git_reset_preserve_ignored.sh
  scripts/resume_claude_sessions_vscode.sh
Due: none

chore(metrics): update orchestration metrics
  .claude/hooks/orchestration-metrics.json
Due: validate-jsonc

chore(spec): clean up incomplete features registry
  .coordination/spec/incomplete-features.yaml
Due: validate-yaml-syntax

docs: standardize metrics and versioning across documentation
  BRANDING.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/api/mcp_server.md
  docs/architecture/modular-structure.md
  docs/index.md
  docs/mcp-tools-extended.md
  docs/requirements/comprehensive-requirements.md
Due: none

docs(migration): remove pre-v4.0 migration content
  docs/guides/migration-guide.md
Due: none

refactor: remove legacy version comments from codebase
  src/spreadsheet_dl/__init__.py
  src/spreadsheet_dl/_mcp/tools/__init__.py
  src/spreadsheet_dl/domains/data_science/importers/jupyter.py
  src/spreadsheet_dl/renderer.py
  tests/test_validation_v4.py
Due: none

fix(ci): remove develop branch from workflow triggers
  .github/workflows/ci.yml
Due: validate-yaml-syntax

chore: remove development-only artifacts for public release
  PRE_RELEASE_CHECKLIST.md
  active_work.json
  coverage.json
  docs/api/STATUS_UPDATE.md
  docs/v4.0/ROADMAP.md
Due: validate-jsonc

docs(claude): add contributor guide for .claude directory
  .claude/README.md
Due: none

chore(config): update project metadata and release script
  .claude/hooks/orchestration-metrics.json
  .claude/project-metadata.yaml
  scripts/prepare-public-release.sh
Due: validate-yaml-syntax, validate-jsonc

chore: standardize GitHub organization and update documentation for public release
  CHANGELOG.md
  README.md
  TESTING.md
  docs/requirements/SUMMARY.md
  docs/requirements/comprehensive-requirements.md
  docs/requirements/dual-audience-requirements.md
  docs/requirements/professional-spreadsheet-requirements.md
  examples/mcp_server_usage.py
  src/spreadsheet_dl/__init__.py
  src/spreadsheet_dl/domains/biology/plugin.py
  src/spreadsheet_dl/domains/civil_engineering/plugin.py
  src/spreadsheet_dl/domains/data_science/plugin.py
  src/spreadsheet_dl/domains/education/plugin.py
  src/spreadsheet_dl/domains/electrical_engineering/plugin.py
  src/spreadsheet_dl/domains/environmental/plugin.py
  src/spreadsheet_dl/domains/manufacturing/plugin.py
  src/spreadsheet_dl/domains/mechanical_engineering/plugin.py
  tests/README.md
Due: none

chore: complete module reorganization and pre-release cleanup
  docs/tutorials/08-conditional-formatting.md
  scripts/cleanup-for-release.sh
  src/spreadsheet_dl/__init__.py
  tests/mcp/test_mcp_finance.py
  tests/mcp/test_mcp_tools.py
  tests/test_alerts.py
  tests/test_analytics.py
  tests/test_budget_analyzer.py
  tests/test_categories.py
  tests/test_csv_import.py
  tests/test_currency.py
  tests/test_goals.py
  tests/test_integration.py
  tests/test_ods_editor.py
  tests/test_recurring.py
  tests/test_reminders.py
  tests/test_report_generator.py
Due: none

fix: resolve all shellcheck warnings in hook scripts
  .claude/hooks/pre_commit_config_validate.sh
  .claude/hooks/pre_compact_cleanup.sh
  .claude/hooks/restore_checkpoint.sh
  scripts/prepare-public-release.sh
Due: none

refactor(mcp)!: remove domain-specific tools from MCP server
  src/spreadsheet_dl/_mcp/server.py
Due: none

test(mcp): update tests for universal tools architecture
  tests/mcp/test_mcp_core.py
  tests/mcp/test_mcp_finance.py
  tests/mcp/test_mcp_handlers.py
  tests/mcp/test_mcp_protocol.py
  tests/mcp/test_mcp_tools.py
  tests/test_mcp_tools_extended.py
Due: none

feat: add XLSX adapter and enhance spreadsheet capabilities
  src/spreadsheet_dl/adapters.py
  src/spreadsheet_dl/export.py
  src/spreadsheet_dl/renderer.py
  src/spreadsheet_dl/visualization.py
Due: none

test: update tests for XLSX adapter and enhanced features
  tests/benchmarks/test_theme_loading_benchmark.py
  tests/domains/test_base.py
  tests/renderer/test_renderer_core.py
  tests/test_plugins.py
  tests/test_professional_templates.py
  tests/test_validation_v4.py
Due: none

docs: update MCP documentation for universal tools architecture
  README.md
  docs/MCP_INTEGRATION.md
  docs/api/mcp_server.md
  docs/mcp-tools-extended.md
  docs/tutorials/05-use-mcp-tools.md
Due: none

fix(test): prevent pytest from collecting TestProcedureTemplate
  src/spreadsheet_dl/domains/electrical_engineering/templates/test_procedure.py
Due: none

refactor(claude): clean and optimize configuration for public release
  .claude/README.md
  .claude/agent-registry.json
  .claude/agents/git_commit_manager.md
  .claude/coding-standards.yaml
  .claude/commands/git.md
  .claude/commands/implement.md
  .claude/commands/spec.md
  .claude/hooks/.context_state.json
  .claude/hooks/ACTIVATION_COMPLETE.md
  .claude/hooks/IMPLEMENTATION_GUIDE.md
  .claude/hooks/README.md
  .claude/hooks/README_QUALITY_ENFORCEMENT.md
  .claude/hooks/stress_test_suite.py
  .claude/hooks/test_context_management.sh
  .claude/hooks/test_hooks.py
  .claude/hooks/test_post_compact_recovery.sh
  .claude/hooks/test_quality_enforcement.py
  .claude/orchestration-config.yaml
  .claude/project-metadata.yaml
  .claude/settings.backup_20260104_111534.json
  .claude/settings.json
  .claude/settings_strict_quality.json
  .claude/template.lock
  .claude/workflow-progress-archived-20260103204224.json
Due: validate-yaml-syntax, validate-jsonc

docs: fix broken documentation links
  docs/guides/performance.md
  docs/requirements/SUMMARY.md
Due: none
