Repository lair-click-bats/spreadsheet-dl: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-syntax, validate-jsonc

validate-yaml-syntax:
  name: Validate YAML syntax
  entry: uv run python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1]))"
  language: system

validate-jsonc:
  name: Validate JSON/JSONC files
  entry: ./scripts/tools/jsonc.sh --check
  language: script

feat(domains): add biology domain plugin
  src/spreadsheet_dl/domains/biology/__init__.py
  src/spreadsheet_dl/domains/biology/formulas/__init__.py
  src/spreadsheet_dl/domains/biology/formulas/biochemistry.py
  src/spreadsheet_dl/domains/biology/formulas/ecology.py
  src/spreadsheet_dl/domains/biology/formulas/molecular.py
  src/spreadsheet_dl/domains/biology/importers/__init__.py
  src/spreadsheet_dl/domains/biology/importers/fasta.py
  src/spreadsheet_dl/domains/biology/importers/genbank.py
  src/spreadsheet_dl/domains/biology/importers/plate_reader.py
  src/spreadsheet_dl/domains/biology/plugin.py
  src/spreadsheet_dl/domains/biology/templates/__init__.py
  src/spreadsheet_dl/domains/biology/templates/ecology_field_data.py
  src/spreadsheet_dl/domains/biology/templates/experiment_protocol.py
  src/spreadsheet_dl/domains/biology/templates/gene_expression.py
  src/spreadsheet_dl/domains/biology/templates/plate_reader_data.py
  src/spreadsheet_dl/domains/biology/templates/sequencing_results.py
  src/spreadsheet_dl/domains/biology/utils.py
Due: none

feat(domains): add manufacturing domain plugin
  src/spreadsheet_dl/domains/manufacturing/__init__.py
  src/spreadsheet_dl/domains/manufacturing/formulas/__init__.py
  src/spreadsheet_dl/domains/manufacturing/formulas/inventory.py
  src/spreadsheet_dl/domains/manufacturing/formulas/production.py
  src/spreadsheet_dl/domains/manufacturing/formulas/quality.py
  src/spreadsheet_dl/domains/manufacturing/importers/__init__.py
  src/spreadsheet_dl/domains/manufacturing/importers/erp_data.py
  src/spreadsheet_dl/domains/manufacturing/importers/mes_data.py
  src/spreadsheet_dl/domains/manufacturing/importers/sensor_data.py
  src/spreadsheet_dl/domains/manufacturing/plugin.py
  src/spreadsheet_dl/domains/manufacturing/templates/__init__.py
  src/spreadsheet_dl/domains/manufacturing/templates/bill_of_materials.py
  src/spreadsheet_dl/domains/manufacturing/templates/inventory_management.py
  src/spreadsheet_dl/domains/manufacturing/templates/oee_tracking.py
  src/spreadsheet_dl/domains/manufacturing/templates/production_schedule.py
  src/spreadsheet_dl/domains/manufacturing/templates/quality_control.py
  src/spreadsheet_dl/domains/manufacturing/utils.py
Due: none

feat(domains): expand civil engineering with templates and importers
  src/spreadsheet_dl/domains/civil_engineering/__init__.py
  src/spreadsheet_dl/domains/civil_engineering/formulas/__init__.py
  src/spreadsheet_dl/domains/civil_engineering/importers/__init__.py
  src/spreadsheet_dl/domains/civil_engineering/importers/building_codes.py
  src/spreadsheet_dl/domains/civil_engineering/importers/structural_results.py
  src/spreadsheet_dl/domains/civil_engineering/importers/survey_data.py
  src/spreadsheet_dl/domains/civil_engineering/templates/__init__.py
  src/spreadsheet_dl/domains/civil_engineering/templates/concrete_mix.py
  src/spreadsheet_dl/domains/civil_engineering/templates/site_survey.py
  src/spreadsheet_dl/domains/civil_engineering/utils.py
Due: none

feat(domains): expand mechanical engineering with thermal and fatigue analysis
  src/spreadsheet_dl/domains/mechanical_engineering/__init__.py
  src/spreadsheet_dl/domains/mechanical_engineering/formulas/__init__.py
  src/spreadsheet_dl/domains/mechanical_engineering/formulas/fatigue.py
  src/spreadsheet_dl/domains/mechanical_engineering/formulas/moment.py
  src/spreadsheet_dl/domains/mechanical_engineering/formulas/stress_strain.py
  src/spreadsheet_dl/domains/mechanical_engineering/formulas/thermal.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/__init__.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/cad_metadata.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/fea_results.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/material_db.py
  src/spreadsheet_dl/domains/mechanical_engineering/plugin.py
  src/spreadsheet_dl/domains/mechanical_engineering/utils.py
Due: none

test(domains): add comprehensive civil and mechanical engineering tests
  tests/domains/test_civil_engineering.py
  tests/domains/test_mechanical_engineering.py
Due: none

chore(hooks): update orchestration metrics for Phase C completion
  .claude/hooks/orchestration-metrics.json
Due: validate-jsonc

feat(domains): add education domain plugin
  src/spreadsheet_dl/domains/education/__init__.py
  src/spreadsheet_dl/domains/education/formulas/__init__.py
  src/spreadsheet_dl/domains/education/formulas/grades.py
  src/spreadsheet_dl/domains/education/formulas/learning.py
  src/spreadsheet_dl/domains/education/formulas/statistics.py
  src/spreadsheet_dl/domains/education/importers/__init__.py
  src/spreadsheet_dl/domains/education/importers/assessment_results.py
  src/spreadsheet_dl/domains/education/importers/gradebook_export.py
  src/spreadsheet_dl/domains/education/importers/lms_data.py
  src/spreadsheet_dl/domains/education/plugin.py
  src/spreadsheet_dl/domains/education/templates/__init__.py
  src/spreadsheet_dl/domains/education/templates/assessment_rubric.py
  src/spreadsheet_dl/domains/education/templates/course_gradebook.py
  src/spreadsheet_dl/domains/education/templates/learning_objectives.py
  src/spreadsheet_dl/domains/education/templates/lesson_plan.py
  src/spreadsheet_dl/domains/education/templates/student_attendance.py
  src/spreadsheet_dl/domains/education/utils.py
Due: none

feat(domains): add environmental domain plugin
  src/spreadsheet_dl/domains/environmental/__init__.py
  src/spreadsheet_dl/domains/environmental/formulas/__init__.py
  src/spreadsheet_dl/domains/environmental/formulas/air_quality.py
  src/spreadsheet_dl/domains/environmental/formulas/carbon.py
  src/spreadsheet_dl/domains/environmental/formulas/ecology.py
  src/spreadsheet_dl/domains/environmental/formulas/water_quality.py
  src/spreadsheet_dl/domains/environmental/importers/__init__.py
  src/spreadsheet_dl/domains/environmental/importers/lab_results.py
  src/spreadsheet_dl/domains/environmental/importers/satellite_data.py
  src/spreadsheet_dl/domains/environmental/importers/sensor_network.py
  src/spreadsheet_dl/domains/environmental/plugin.py
  src/spreadsheet_dl/domains/environmental/templates/__init__.py
  src/spreadsheet_dl/domains/environmental/templates/air_quality_monitoring.py
  src/spreadsheet_dl/domains/environmental/templates/biodiversity_assessment.py
  src/spreadsheet_dl/domains/environmental/templates/carbon_footprint.py
  src/spreadsheet_dl/domains/environmental/templates/environmental_impact.py
  src/spreadsheet_dl/domains/environmental/templates/water_quality_analysis.py
  src/spreadsheet_dl/domains/environmental/utils.py
Due: none

test(domains): add comprehensive tests for biology, manufacturing, education, environmental
  tests/domains/test_biology.py
  tests/domains/test_education.py
  tests/domains/test_environmental.py
  tests/domains/test_manufacturing.py
Due: none

fix(domains): align education and environmental APIs with v4.0.0 standards
  src/spreadsheet_dl/domains/biology/__init__.py
  src/spreadsheet_dl/domains/biology/formulas/ecology.py
Due: none

chore(hooks): update orchestration metrics for Phase C 100% completion
  .claude/hooks/orchestration-metrics.json
Due: validate-jsonc

chore(coordination): update active_work.json for Phase C 100% completion
  active_work.json
Due: validate-jsonc

chore(hooks): update orchestration metrics counters
  .claude/hooks/orchestration-metrics.json
Due: validate-jsonc

fix(lint): resolve all critical ruff linting issues
  .claude/hooks/cleanup_stale_files.py
  .claude/hooks/manage_agent_registry.py
  .claude/hooks/stress_test_suite.py
  .claude/hooks/test_hooks.py
  .claude/hooks/validate_config_consistency.py
  scripts/maintenance/context_optimizer.py
  scripts/maintenance/json_summarizer.py
Due: none

fix(types): resolve all mypy type checking errors
  src/spreadsheet_dl/cli.py
  src/spreadsheet_dl/domains/biology/utils.py
  src/spreadsheet_dl/domains/education/importers/assessment_results.py
  src/spreadsheet_dl/domains/education/importers/gradebook_export.py
  src/spreadsheet_dl/domains/education/importers/lms_data.py
  src/spreadsheet_dl/domains/education/utils.py
  src/spreadsheet_dl/domains/electrical_engineering/importers/component_csv.py
  src/spreadsheet_dl/domains/electrical_engineering/importers/kicad_bom.py
  src/spreadsheet_dl/domains/electrical_engineering/utils.py
  src/spreadsheet_dl/domains/environmental/importers/lab_results.py
  src/spreadsheet_dl/domains/environmental/importers/satellite_data.py
  src/spreadsheet_dl/domains/environmental/importers/sensor_network.py
  src/spreadsheet_dl/domains/environmental/utils.py
  src/spreadsheet_dl/domains/finance/categories.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/fea_results.py
  src/spreadsheet_dl/domains/mechanical_engineering/importers/material_db.py
Due: none

fix(tests): align test expectations with implementations
  tests/domains/test_biology.py
  tests/domains/test_civil_engineering.py
  tests/domains/test_data_science.py
  tests/domains/test_education.py
  tests/domains/test_environmental.py
  tests/domains/test_manufacturing.py
  tests/domains/test_mechanical_engineering.py
  tests/test_adapters.py
  tests/test_mcp_server.py
  tests/test_mcp_tools_extended.py
  tests/test_performance.py
  tests/test_serialization.py
  tests/test_streaming.py
  tests/test_validation_v4.py
Due: none

style: format all files to project standards
  .claude/hooks/orchestration-metrics.json
  active_work.json
  coverage.json
  docs/api/builder.md
  docs/api/ods_editor.md
  docs/api/ods_generator.md
  docs/cli.md
  docs/error-codes.md
  docs/guides/best-practices.md
  docs/guides/style-composition.md
  docs/guides/template-creation.md
  docs/guides/theme-creation.md
  docs/guides/troubleshooting.md
  docs/installation.md
  docs/requirements/SUMMARY.md
  docs/requirements/comprehensive-requirements.md
  docs/requirements/dual-audience-requirements.md
  docs/requirements/professional-spreadsheet-requirements.md
  docs/requirements/validation-report.md
  docs/user-guide.md
  docs/v4.0/GAP-ANALYSIS.md
  docs/v4.0/ROADMAP.md
  examples/mcp_server_usage.py
  examples/template_engine_usage.py
  scripts/README.md
  src/spreadsheet_dl/ods_generator.py
  src/spreadsheet_dl/performance.py
Due: validate-jsonc

docs(api): complete 100% API documentation coverage for all modules
  docs/api/README.md
  docs/api/STATUS_UPDATE.md
  docs/api/ai_export.md
  docs/api/ai_training.md
  docs/api/alerts.md
  docs/api/analytics.md
  docs/api/backup.md
  docs/api/bank_formats.md
  docs/api/budget_analyzer.md
  docs/api/cli.md
  docs/api/completions.md
  docs/api/config.md
  docs/api/csv_import.md
  docs/api/currency.md
  docs/api/exceptions.md
  docs/api/export.md
  docs/api/goals.md
  docs/api/interactive.md
  docs/api/notifications.md
  docs/api/ods_generator.md
  docs/api/plaid_integration.md
  docs/api/plugins.md
  docs/api/progress.md
  docs/api/recurring.md
  docs/api/reminders.md
  docs/api/renderer.md
  docs/api/report_generator.md
  docs/api/templates.md
  docs/api/webdav_upload.md
Due: none

docs(release): prepare v4.0.0 for first public release
  .claude/hooks/orchestration-metrics.json
  BRANDING.md
  CHANGELOG.md
  PRE_RELEASE_CHECKLIST.md
  README.md
  docs/API_DOCUMENTATION_STATUS.md
  docs/index.md
  scripts/prepare-public-release.sh
Due: validate-jsonc

fix(critical): complete Phase 1 pre-release audit fixes
  .claude/settings.json
  .gitignore
  BRANDING.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/best-practices.md
  docs/getting-started.md
  docs/guides/plugin-development.md
  docs/tutorials/01-create-budget.md
  src/spreadsheet_dl/__init__.py
  src/spreadsheet_dl/builder.py
  src/spreadsheet_dl/cli.py
  src/spreadsheet_dl/domains/finance/plaid_integration.py
  tests/test_ai_export.py
  tests/test_builder.py
  tests/test_export.py
  tests/test_validation_v4.py
Due: validate-jsonc

feat(audit): complete Phase 2 high-priority pre-release fixes
  .claude/hooks/orchestration-metrics.json
  .github/workflows/ci.yml
  README.md
  active_work.json
  docs/ARCHITECTURE.md
  docs/guides/plugin-development.md
  docs/index.md
  docs/installation.md
  src/spreadsheet_dl/adapters.py
  src/spreadsheet_dl/interactive.py
  tests/domains/test_finance.py
  tests/test_serialization.py
Due: validate-yaml-syntax, validate-jsonc

fix(types): resolve 436 of 579 mypy type annotation errors (73%)
  .claude/hooks/orchestration-metrics.json
  examples/chart_builder_advanced.py
  examples/example_budget.py
  examples/example_chart.py
  examples/example_import.py
  examples/example_mcp.py
  examples/example_report.py
  scripts/maintenance/batch_file_processor.py
  scripts/maintenance/context_optimizer.py
  scripts/maintenance/json_summarizer.py
  tests/domains/test_data_science.py
  tests/test_ai_export.py
  tests/test_ai_training.py
  tests/test_backup.py
  tests/test_builder.py
  tests/test_builders.py
  tests/test_charts.py
  tests/test_export.py
  tests/test_interactive.py
  tests/test_mcp_server.py
  tests/test_plaid_integration.py
  tests/test_print_layout.py
  tests/test_professional_templates.py
  tests/test_serialization.py
Due: validate-jsonc

fix(exports): add missing constant exports to shim modules
  .claude/hooks/orchestration-metrics.json
  src/spreadsheet_dl/bank_formats.py
  src/spreadsheet_dl/config.py
  src/spreadsheet_dl/currency.py
  src/spreadsheet_dl/domains/finance/categories.py
  src/spreadsheet_dl/performance.py
  src/spreadsheet_dl/progress.py
  src/spreadsheet_dl/recurring.py
  src/spreadsheet_dl/templates/professional.py
  src/spreadsheet_dl/webdav_upload.py
Due: validate-jsonc

docs: update documentation status and engineering domain info
  .pre-commit-config.yaml
  docs/API_DOCUMENTATION_STATUS.md
  docs/index.md
Due: none

refactor(exceptions): narrow broad exception handlers across codebase
  .claude/hooks/orchestration-metrics.json
  scripts/maintenance/batch_file_processor.py
  scripts/maintenance/context_optimizer.py
  scripts/maintenance/json_summarizer.py
  src/spreadsheet_dl/ai_export.py
  src/spreadsheet_dl/domains/biology/importers/fasta.py
  src/spreadsheet_dl/domains/biology/importers/genbank.py
  src/spreadsheet_dl/domains/finance/bank_formats.py
  src/spreadsheet_dl/domains/finance/plaid_integration.py
  src/spreadsheet_dl/interactive.py
  src/spreadsheet_dl/mcp_server.py
  src/spreadsheet_dl/notifications.py
  src/spreadsheet_dl/performance.py
  tests/test_builders.py
  tests/test_categories.py
  tests/test_charts.py
  tests/test_exceptions.py
  tests/test_print_layout.py
Due: validate-jsonc

chore(config): update project configuration for v4.0.0 release
  .gitignore
  docs/index.md
  examples/realistic_budget_workflow.py
  pyproject.toml
  src/spreadsheet_dl/security.py
  tests/test_export.py
  tests/test_print_layout.py
Due: none

docs(builder): document regex patterns for cell references
  src/spreadsheet_dl/builder.py
  tests/test_renderer.py
  tests/test_validation_v4.py
Due: none

style(csv_import): fix import ordering
  src/spreadsheet_dl/csv_import.py
Due: none

style(tests): add missing Any import to test_renderer
  tests/test_renderer.py
Due: none

style: auto-fix linting issues (imports and __all__ sorting)
  src/spreadsheet_dl/security.py
  tests/domains/test_data_science.py
  tests/domains/test_finance.py
  tests/test_ai_training.py
  tests/test_export.py
Due: none

feat(hooks): add strict quality enforcement system
  .claude/hooks/python_quality_enforce.py
  .claude/hooks/python_type_check.py
  .claude/hooks/quality_enforce_strict.py
Due: none

test(hooks): add comprehensive quality enforcement test suite
  .claude/hooks/test_quality_enforcement.py
Due: none

build(hooks): activate strict quality enforcement in PostToolUse
  .claude/hooks/orchestration-metrics.json
  .claude/settings.json
Due: validate-jsonc

docs(hooks): add quality enforcement complete documentation
  .claude/hooks/IMPLEMENTATION_GUIDE.md
  .claude/hooks/README_QUALITY_ENFORCEMENT.md
Due: none

docs(hooks): add activation completion report
  .claude/hooks/ACTIVATION_COMPLETE.md
Due: none

chore(hooks): add settings backup and strict quality config
  .claude/settings.backup_20260104_111534.json
  .claude/settings_strict_quality.json
Due: validate-jsonc

refactor(builder)!: extract builder into modular _builder package
  src/spreadsheet_dl/_builder/__init__.py
  src/spreadsheet_dl/_builder/core.py
  src/spreadsheet_dl/_builder/exceptions.py
  src/spreadsheet_dl/_builder/formulas.py
  src/spreadsheet_dl/_builder/models.py
  src/spreadsheet_dl/_builder/references.py
  src/spreadsheet_dl/builder.py
  tests/builder/__init__.py
  tests/builder/conftest.py
  tests/builder/test_builder_core.py
  tests/builder/test_builder_formulas.py
  tests/builder/test_builder_specs.py
  tests/test_builders.py
Due: none

refactor(cli)!: extract CLI into modular _cli package
  src/spreadsheet_dl/_cli/__init__.py
  src/spreadsheet_dl/_cli/app.py
  src/spreadsheet_dl/_cli/commands.py
  src/spreadsheet_dl/_cli/utils.py
  src/spreadsheet_dl/cli.py
  tests/cli/test_commands_coverage.py
  tests/test_cli.py
  tests/test_cli_commands_comprehensive.py
  tests/test_cli_commands_part2.py
  tests/test_cli_commands_part3.py
  tests/test_cli_themes.py
Due: none

Path conditions:
  validate-yaml-syntax: any of: \.(yaml|yml)$, but not: ^\.pre-commit-config\.yaml$
  validate-jsonc: any of: \.json$
